<!doctype html>
<html>
  <head>
    <title>Chirp</title>
  </head>

  <body ng-app="myApp">
    <div id="main" class="container" ng-controller="myCtrl">
      <div class="col-md-offset-2 col-md-8">
        <div class="clearfix">

          <form ng-Submit="post()">
            <input required type="text" class="form-control" placeholder="Your name" ng-model="newPost.create_by"/>
            <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
            <input class="btn submit-btn pull-right" type="submit" value="Chirp!"/> 
          </form>

          <div id="post-stream">
      	    <h4>Chirp Feed</h4>
      	    <div class="post" ng-repeat="post in posts | orderBy:'create_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
      	  	  <p>{{post.text}}</p>
      	  	  <small>Posted by @{{post.create_by}}</small>
      	  	  <small class="pull-right">{{post.create_at | date:"h:mma 'on' MMM d, y"}}</small>
      	    </div>
          </div>

        </div>
      </div>
    </div>
  </body>

  <!-- Angular Imports -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="js/module.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- Bootstrap Imports -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style/style.css">

</html>
