<!DOCTYPE html>
<html>
  <head>
	  <title>Chirp</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Bootstrap Imports and Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/style.css">

  </head>

  <body ng-app="myApp">
    <nav class="navbar-fluid navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/"> Chirp! </a>
        <p class="navbar-text"> Lear the MEAN stack by building this tiny app </p>
        <p class="navbar-right navbar-text" ng-hide="authenticated">
          <a href="#/login">Login</a> or <a href="#/register">Register</a>
        </p>
        <p class="navbar-right navbar-text" ng-show="authenticated">
          <a href="#/" ng-click="logout()">Logout</a>
        </p>
        <p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user}}</p>
      </div>
    </nav>
    <div class="col-md-offset-2 col-md-8">
      <div ng-view>
      </div>
    </div>
  </body>

  <!-- Angular Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
  <script src="js/module.js"></script>

</html>
